body, h1, div, p, button, h2, img {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f5f8;
}

h1 {
    width: auto;
    margin-top: 1em;
    color: #102b42;
    letter-spacing: 0.1em;
}

hr {
    border: 0.15em solid #49a6e9;
    background-color: #49a6e9;
    width: 8%;
    height: 0;
}

.card {
    width: 90%;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.1);
    margin-top: 3em;
}
